*opendb
# Compiled object files
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dll
*.dylib

# Executables
*.exe
*.out

# Build directories
bin/
build/
lib/

# IDE-specific files
.vscode/
.idea/
*.sln
*.vcxproj
*.user
*.user.*

# SFML-specific files
SFML/


#idk but i feel like it should be here
*Debug
.vs/
*vs/
lib/include_file
x64/
.cvxproj
*.vcxproj
.vs/Project/v17/Browse.VC.db
Project/Project.vcxproj
Project/Project.vcxproj.user
Project/x64/Debug/Project.exe.recipe
x64/Debug/Project.pdb
x64/Debug/Project.exe
Project/x64/Debug/vc143.pdb
Project/x64/Debug/vc143.idb
Project/x64/Debug/Project.tlog/Project.lastbuildstate
Project/x64/Debug/Project.tlog/link.write.1.tlog
Project/x64/Debug/Project.tlog/link.read.1.tlog
Project/x64/Debug/Project.tlog/CL.write.1.tlog
Project/x64/Debug/Project.tlog/CL.read.1.tlog
Project/x64/Debug/Main.obj
Project/x64/Debug/Project.ilk
Project/x64/Debug/vc143.idb
Project/x64/Debug/vc143.pdb
x64/Debug/Project.exe
x64/Debug/Project.pdb
Project/x64/Debug/Project.log
Project/x64/Debug/Main.obj
Project/x64/Debug/Project.ilk
Project/x64/Debug/Project.log
Project/x64/Debug/Project.tlog/link.read.1.tlog
Project/x64/Debug/Project.tlog/link.write.1.tlog
Project/x64/Debug/vc143.idb
Project/x64/Debug/vc143.pdb
x64/Debug/Project.exe
x64/Debug/Project.pdb
*.ilk
*.log
*.tlog
*.exe
*.pdb
*.log
