*opendb
# Compiled object files
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dll
*.dylib

# Executables
*.exe
*.out

# Build directories
bin/
build/
lib/

# IDE-specific files
.vscode/
.idea/
*.sln
*.vcxproj
*.user
*.user.*

# SFML-specific files
SFML/


#idk but i feel like it should be here
*Debug
.vs/
*vs